body {
      color: #333;
      font-size: 0.9em;
      font-family: Lato, sans-serif;
    }

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: stretch;*/
    align-items: stretch;
    align-content: flex-end;
    margin-outside: 10px;
}

#graph-wrapper {
        flex: 6 1 auto;
}
#graph-container {
    min-width: 100vmin;
    min-height: 100vmin;
    background-color: #d3d3c3;
}

#pane_wrapper {
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: #0D3349;
}
#details-pane {
    flex: 2;
    background-color: rgb(249, 247, 237);
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
#details-pane > div {
    margin: 5px;
    overflow-x: auto;
}
#details {
    /*display: flex;*/
    /*flex: 1;*/
}
#instructions {
    /*margin: 40px;*/
    padding: 20px;
}
#control-pane {
    flex: 1;
    background-color: rgb(249, 247, 237);
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
#control-pane > div {
  margin: 5px;
  overflow-x: auto;
}
#controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.filter-div {
    padding: 5px 10px;
}
.filter-range {
    flex-grow: 1;
    min-width: 475px;
    padding: 5px 10px;
}
#rank-range {
    direction: rtl;
}
/*input[type=range] {*/
/*  width: 50%;*/
/*}*/
#controls-toggles {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
#controls-toggles > div {
    padding: 5px 10px;
    flex-grow: 1;
}
#MAGsearch {
    margin-left: 10px;
}
.line {
  clear: both;
  display: block;
  width: 100%;
  margin: 0;
  padding: 12px 0 0 0;
  border-bottom: 1px solid #aac789;
  background: transparent;
}
h2, h3, h4 {
  padding: 0;
  font-variant: small-caps;
}
.green {
  color: #437356;
}
h2.underline {
  color: #437356;
  background: #f4f0e4;
  margin: 0;
  border-radius: 2px;
  padding: 8px 12px;
  font-weight: 700;
}
.hidden {
  display: none;
  visibility: hidden;
}

